<div class="app-footer" [class.fixed-bottom]="settings.theme.footerIsFixed">
	<div class="footer-content d-flex align-items-center">
		<img src="assets/img/logo-icon.png" alt="" height="24px">
		<div>
			<p class="m-0">© 2020 TrueVisiotor All rights reserved</p>
		</div>
	</div>	
</div>