#messagesDropDown{
    .dropdown-menu{
        width: 312px;
    }
    .nav-link{
        color: #a6a6a6;
        border: 0;
        border-radius: 0;
        border-bottom: 4px solid transparent;
        &:hover{
            background-color: #f5f5f5;
        }
    }
    .tab-content{
        height: 250px;
        border: 0;
        border-top: 1px solid #ccc;
        .tab-pane{
            padding: 0;
              .list {
                a {
                    float: left;
                    width: 100%;
                    display: block;
                    padding: 10px;
                    border-bottom: 1px solid rgba(0,0,0,0.1);
                    &:hover{
                        background: #f5f5f5;
                    }
                    h3, h2{                        
                        padding: 0;
                        margin: 0 0 4px 0;
                        color: #666666;
                    }
                    h3{
                        font-size: 12px;
                    }
                    h2{
                        font-size: 14px;
                    }

                }
                span{
                    font-size: 10px;
                }
                .meeting-day{
                    width: 46px;
                    height: 42px;
                    border-radius: 4px;
                    color: #fff;
                    text-align: center;
                    span{
                        font-size: 13px;
                        display: block;
                        font-style: italic;
                    }
                }
                .list-content{
                    float: right;
                    width: 200px;
                }
                img{
                    float: left;
                    width: 45px;
                    margin-right: 10px;
                    border-radius: 50%;
                }
                p{
                    color: #7d7d7d;
                    font-size: 11px;
                    margin: 0;
                }
            }
        }        
    }
}