<div class="container py-5">
	<div class="row justify-content-center step-verify-phone">
		<div class="col-md-5">
			<div class="card border-0 box-shadow">
				<div class="card-body widget-body">
					<form class="one">
						<div class="form-group">
							<label class="form-control-label">Country <span class="text-danger">*</span></label>
							<select class="form-control">
								<option>Select Country</option>
								<option>India</option>
								<option>China</option>
								<option>Russia</option>
								<option>Japan</option>
							</select>
						</div>
						<div class="form-group">
							<label class="form-control-label">Phone Number <span class="text-danger">*</span></label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-phone"></i></span>
								</div>
								<input type="text" class="form-control" />
							</div>
						</div>
						<div class="mt-5"><input class="btn btn-primary btn-1" type="submit" value="Submit"></div>
					</form>
					<form class="two hide">
						<div class="form-group">
							<label class="form-control-label">Enter OTP<span class="text-danger">*</span></label>
							<input type="text" class="form-control" />
						</div>
						<div><a href="#" class="text-13">Resend OTP?</a></div>
						<div class="mt-5"><input class="btn btn-primary btn-2" type="submit" value="Submit"></div>
					</form>
				</div>
			</div>	
		</div>
	</div>
	<div class="card border-0 box-shadow hide step-all">
		<div class="card-body widget-body">
			<div class="row mb-4">
				<div class="col-md-3 col-sm-6 col-12 step text-center">
					<div class="d-flex justify-content-center align-items-center text-white pl-2 pr-2 mb-2 rounded pd-tab step-content bg-danger">
						<i aria-hidden="true" class="fa fa-address-card mr-2"></i><span class="step-name">Personal Detail</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-12 step text-center">
					<div class="d-flex justify-content-center align-items-center text-white pl-2 pr-2 mb-2 rounded bd-tab step-content">
						<i aria-hidden="true" class="fa fa-briefcase  mr-2"></i><span class="step-name">Business Details</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-12 step text-center">
					<div class="d-flex justify-content-center align-items-center text-white pl-2 pr-2 mb-2 loc-tab rounded step-content">
						<i aria-hidden="true" class="fa fa-map-marker mr-2"></i><span class="step-name">Locations </span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-12 step text-center">
					<div class="d-flex justify-content-center align-items-center text-white pl-2 pr-2 mb-2 dep-tab rounded step-content">
						<i aria-hidden="true" class="fa fa-sitemap mr-2"></i><span class="step-name">Department </span>
					</div>
				</div>
			</div>
			
			
			<div class="col step-personal-detail">
				<h4 class="mt-3 mb-3"><i class="fa fa-address-card mr-2"></i> Personal Detail</h4>
				<form class="py-3">
					<div class="row">
						<div class="form-group col-md-6">
							<label class="form-control-label">Name  <span class="text-danger">*</span></label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-user-o"></i></span>
								</div>
								<input type="text" class="form-control" />
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="form-control-label">Email  <span class="text-danger">*</span></label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-envelope"></i></span>
								</div>
								<input type="text" class="form-control" />
							</div>
						</div>
					</div>	
					<div class="row">	
						<div class="form-group col-md-6">
							<label class="form-control-label">Password  <span class="text-danger">*</span></label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-key"></i></span>
								</div>
								<input type="text" class="form-control" />
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="form-control-label">Date of birth <span class="text-danger">*</span></label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-calendar"></i></span>
								</div>
								<input type="text" class="form-control" />
							</div>
						</div>
					</div>	
					<div class="row">	
						<div class="form-group col-md-6">
							<label class="form-control-label">Gender  <span class="text-danger">*</span></label>
							<div>
								<div class="form-check-inline">
									<label class="form-check-label">
										<input type="radio" class="form-check-input" name="optradio">Male
									</label>
								</div>
								<div class="form-check-inline">
									<label class="form-check-label">
										<input type="radio" class="form-check-input" name="optradio">Female
									</label>
								</div>
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="form-control-label w-100">Upload Profile Photo</label>
							<input type="file" id="myfile" name="myfile">
						</div>
					</div>	
					<div class="row">	
						<div class="form-group col-md-6">
							<label class="form-control-label">Country  <span class="text-danger">*</span></label>
							<select class="form-control">
								<option>Select Country</option>
								<option>India</option>
								<option>China</option>
								<option>Russia</option>
								<option>Japan</option>
							</select>
						</div>
					</div>	
					<div class="mt-3"><input class="btn btn-primary btn-3" type="submit" value="Submit"></div>
				</form>
			</div>
			
			<div class="col step-business-detail hide">
				<h4 class="mt-3 mb-3"><i class="fa fa-briefcase mr-2"></i> Business Details</h4>
				<form class="py-3">
					<div class="row">	
						<div class="form-group col-md-6">
							<label class="form-control-label">Company Name  <span class="text-danger">*</span></label>
							<input type="text" class="form-control" />
						</div>
						<div class="form-group col-md-6">
							<label class="form-control-label w-100">Company Logo</label>
							<input type="file" id="myfile" name="myfile">
						</div>
					</div>	
					<div class="row">		
						<div class="form-group col-md-6">
							<label class="form-control-label">Company Address  <span class="text-danger">*</span></label>
							<input type="text" class="form-control" />
						</div>
						<div class="form-group col-md-6">
							<label class="form-control-label">Company City <span class="text-danger">*</span></label>
							<input type="text" class="form-control" />
						</div>
					</div>	
					<div class="row">		
						<div class="form-group col-md-6">
							<label class="form-control-label">Company State  <span class="text-danger">*</span></label>
							<input type="text" class="form-control" />
						</div>
						<div class="form-group col-md-6">
							<label class="form-control-label">Company Country  <span class="text-danger">*</span></label>
							<select class="form-control">
								<option>Select Country</option>
								<option>India</option>
								<option>China</option>
								<option>Russia</option>
								<option>Japan</option>
							</select>
						</div>
					</div>	
					<div class="mt-3"><input class="btn btn-primary btn-4" type="submit" value="Submit"></div>
				</form>
			</div>
			
			<div class="col step-location hide">
				<h4 class="mt-3 mb-3"><i class="fa fa-map-marker mr-2"></i> Locations</h4>
				<form class="py-3">
					<div class="row">	
						<div class="form-group col-md-6">
							<label class="form-control-label">Location Title<span class="text-danger">*</span></label>
							<input type="text" class="form-control" />
						</div>
						<div class="form-group col-md-6">
							<label class="form-control-label">Location Address<span class="text-danger">*</span></label>
							<input type="text" class="form-control" />
						</div>
					</div>	
					<div class="row">		
						<div class="form-group col-md-6">
							<label class="form-control-label">Location city<span class="text-danger">*</span></label>
							<input type="text" class="form-control" />
						</div>
						<div class="form-group col-md-6">
							<label class="form-control-label">Location State <span class="text-danger">*</span></label>
							<input type="text" class="form-control" />
						</div>
					</div>	
					<div class="mt-3"><input class="btn btn-primary btn-5" type="submit" value="Submit"></div>
				</form>
			</div>
			
			<div class="col step-department hide">
				<h4 class="mt-3 mb-3"><i class="fa fa-sitemap mr-2"></i> Department</h4>
				<form class="py-3">
					<table class="table">
					  <thead class="thead-light">
						<tr>
						  <th>&nbsp;</th>
						  <th>Department Name</th>
						  <th>Action</th>
						</tr>
					  </thead>
						<tr>
							<td class="align-middle" width="20px">
								<div class="form-check" data-toggle="tooltip" title="My Department">
									<input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
								</div>
							</td>
							<td><input type="text" id="" name="" value="Development" class="form-control"></td>
							<td class="align-middle" width="50px"><i class="fa fa-trash"></i></td>
						</tr>
						<tr>
							<td class="align-middle">
								<div class="form-check" data-toggle="tooltip" title="My Department">
									<input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
								</div>
							</td>
							<td><input type="text" id="" name="" value="Desing" class="form-control"></td>
							<td class="align-middle"><i class="fa fa-trash"></i></td>
						</tr>
						<tr>
							<td class="align-middle">
								<div class="form-check" data-toggle="tooltip" title="My Department">
									<input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
								</div>
							</td>
							<td><input type="text" id="" name="" value="QA" class="form-control"></td>
							<td class="align-middle"><i class="fa fa-trash"></i></td>
						</tr>
						<tr>
							<td class="align-middle">
								<div class="form-check" data-toggle="tooltip" title="My Department">
									<input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
								</div>
							</td>
							<td><input type="text" id="" name="" value="Account" class="form-control"></td>
							<td class="align-middle"><i class="fa fa-trash"></i></td>
						</tr>
					</table>
					<span class="btn btn-success" data-toggle="modal" data-target="#addnewdepartment"><i class="fa fa-plus mr-2"></i>Add New Department</span>
					<div class="mt-5"><input class="btn btn-primary btn-6" type="submit" value="Submit"></div>
				</form>
			</div>
			
		   <!--  <div class="row mt-3">
				<div class="col">
					<button class="btn btn-primary pull-left"><i class="fa fa-chevron-left arrow"></i>&nbsp; Prev Step</button>
					<button class="btn btn-primary pull-right ng-star-inserted">Next Step &nbsp;<i class="fa fa-chevron-right arrow"></i></button>
				</div>
			</div> -->
		</div>
	</div>
	<div class="thankyou-content mt-5 pt-5 hide">
		<div class="text-center">
			<p><i class="fa fa-check-circle fa-3x text-success"></i></p>
			<h1 class="display-4">Thank You!</h1>
			<p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
			<p class="lead">
				<a class="btn btn-primary" href="#" role="button">Continue to Login</a>
			</p>
		</div>
	</div>
</div>

<!-- add new department -->
<div class="modal fade" id="addnewdepartment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel"><strong>Add New Department</strong></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		<input type="text" id="" name="" value="" class="form-control" placeholder="Enter department name"> 
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary">Submit</button>
	  </div>
	</div>
  </div>
</div>