<div class="sidebar-outer">
    <a class="logo d-flex align-items-center" routerLink="/" (click)="closeSubMenus()" *ngIf="settings.theme.sidebarIsFixed">
        <span class="start"><img src="assets/img/logo.png" /></span><!-- <span class="ng"><img src="assets/img/logo-icon.png" /></span> -->
    </a>
    <app-vertical-menu [menuItems]="menuItems"></app-vertical-menu>    
</div>