<div class="row mb-4">
	<div class="col-md-12 mb-4">
		<div class="card text-left">
			<div class="card-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="card-title mb-3">Add User</div>
					</div>
				</div>
				<div class="py-5 text-center">
					<a href="#" class="btn btn-lg btn-success mr-2 d-inline-flex align-items-center" data-toggle="modal" data-target="#inviteuser"><i class="i-Add-User t-font-boldest mr-2"></i> Invite User</a>
					<a href="#" class="btn btn-lg btn-info d-inline-flex align-items-center" data-toggle="modal" data-target="#importuser"><i class="fa fa-download mr-2"></i> Import User</a>
				</div>
				<div class="pb-5"></div>
			</div>
		</div>
	</div>
</div>

<!-- invite user -->
<div class="modal fade" id="inviteuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><strong>Invite User</strong></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Location<span class="text-danger">*</span></label>
					<select class="form-control" id="">
						<option>Select Location</option>
						<option>India</option>
						<option>China</option>
						<option>Russia</option>
						<option>Japan</option>
					</select>
				</div>
				<div class="form-group">
					<label>Department<span class="text-danger">*</span></label>
					<select class="form-control" id="">
						<option>Select Department</option>
						<option>India</option>
						<option>China</option>
						<option>Russia</option>
						<option>Japan</option>
					</select>
				</div>
				<div class="form-group">
					<label>Phone/Email <span class="text-danger">*</span></label>
					<input type="text" id="" name="" value="" class="form-control" placeholder="Please enter phone number or email address">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>

<!-- invite user -->
<div class="modal fade" id="importuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><strong>Import User</strong></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Location<span class="text-danger">*</span></label>
					<select class="form-control" id="">
						<option>Select Location</option>
						<option>India</option>
						<option>China</option>
						<option>Russia</option>
						<option>Japan</option>
					</select>
				</div>
				<div class="form-group">
					<label>Department<span class="text-danger">*</span></label>
					<select class="form-control" id="">
						<option>Select Department</option>
						<option>India</option>
						<option>China</option>
						<option>Russia</option>
						<option>Japan</option>
					</select>
				</div>
				<div class="form-group">
					<label class="d-block">Upload File<span class="text-danger">*</span></label>
					<input type="file" id="myfile" name="myfile">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>