	<div class="alert alert-card alert-danger" role="alert">
		<strong class="text-capitalize">verify!</strong> We sent you verification link. Check your email and click on the link to verify.
		<button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
	</div>
   <div class="breadcrumb">
		<h1>Dashboard</h1>
	</div>

	<div class="separator-breadcrumb border-top"></div>

	<div class="row dash-icon-row">
		<!-- ICON BG -->
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
				<div class="card-body text-center">
					<img class="dash-card-ic" src="assets/img/verified-ic.png" alt="Verified">
					<div class="content" style="max-width: none;">
						<p class="text-muted mt-2 mb-0">Verified </p>
						<p class="text-primary text-24 line-height-1 mb-2">205</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
				<div class="card-body text-center">
					<img class="dash-card-ic" src="assets/img/pre-registered-ic.png" alt="Pre-registered">
					<div class="content" style="max-width: none;">
						<p class="text-muted mt-2 mb-0">Pre-registered </p>
						<p class="text-primary text-24 line-height-1 mb-2">4021</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
				<div class="card-body text-center">
					<img class="dash-card-ic" src="assets/img/checked-in-ic.png" alt="Checked In">
					<div class="content" style="max-width: none;">
						<p class="text-muted mt-2 mb-0">Checked In</p>
						<p class="text-primary text-24 line-height-1 mb-2">80</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
				<div class="card-body text-center">
					<img class="dash-card-ic" src="assets/img/blocked-ic.png" alt="Blocked">
					<div class="content" style="max-width: none;">
						<p class="text-muted mt-2 mb-0">Blocked </p>
						<p class="text-primary text-24 line-height-1 mb-2">1200</p>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	<div class="row dash-icon-row">
		<!-- ICON BG -->
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
				<div class="card-body text-center">
					<img class="dash-card-ic" src="assets/img/checked-out-ic.png" alt="Checked Out ">
					<div class="content" style="max-width: none;">
						<p class="text-muted mt-2 mb-0">Checked Out </p>
						<p class="text-primary text-24 line-height-1 mb-2">205</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
				<div class="card-body text-center">
					<img class="dash-card-ic" src="assets/img/watchlist-ic.png" alt="Watchlist">
					<div class="content" style="max-width: none;">
						<p class="text-muted mt-2 mb-0">Watchlist </p>
						<p class="text-primary text-24 line-height-1 mb-2">4021</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
				<div class="card-body text-center">
					<img class="dash-card-ic" src="assets/img/visitors-ic.png" alt="Visitors to date ">
					<div class="content" style="max-width: none;">
						<p class="text-muted mt-2 mb-0">Visitors to date </p>
						<p class="text-primary text-24 line-height-1 mb-2">80</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
				<div class="card-body text-center">
					<img class="dash-card-ic" src="assets/img/expected-ic.png" alt="Expected">
					<div class="content" style="max-width: none;">
						<p class="text-muted mt-2 mb-0">Expected </p>
						<p class="text-primary text-24 line-height-1 mb-2">1200</p>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-lg-8 col-md-12">
			<div class="card mb-4">
				<div class="card-body">
					<div class="card-title">Busiest  location</div>
					<div class="dash-chart"><img src="assets/img/busiest-location.jpg"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12">
			<div class="card mb-4">
				<div class="card-body">
					<div class="card-title">Busiest departments</div>
					<div class="dash-chart"><img src="assets/img/busiest-departments.jpg"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-4">
				<div class="card-body">
					<div class="card-title">Busiest employee</div>
					<div class="dash-chart"><img src="assets/img/busiest-employee.jpg"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-md-12">

			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="card card-chart-bottom o-hidden mb-4">
						<div class="card-body">
							<div class="text-muted">Last week visitors</div>
							<p class="mb-4 text-primary text-24">40250</p>
						</div>
						<div class="dash-chart"><img src="assets/img/last-week-visitor.jpg"></div>
					</div>
				</div>

				<div class="col-lg-6 col-md-12">
					<div class="card card-chart-bottom o-hidden mb-4">
						<div class="card-body">
							<div class="text-muted">Last Month visitors</div>
							<p class="mb-4 text-warning text-24">10250</p>
						</div>
						<div class="dash-chart"><img src="assets/img/last-month-visitor.jpg"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="card o-hidden mb-4">
						<div class="card-header d-flex align-items-center border-0">
							<h3 class="w-50 float-left card-title m-0">Next Week Invitations</h3>
							<div class="dropdown dropleft text-right w-50 float-right">
								<button class="btn bg-gray-100" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="nav-icon i-Gear-2"></i>
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
									<a class="dropdown-item" href="#">Add new user</a>
									<a class="dropdown-item" href="#">View All users</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>

						<div class="">
							<div class="table-responsive">
								<table id="user_table" class="table  text-center">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Name</th>
											<th scope="col">Invitee</th>
											<th scope="col">Visitor</th>
											<th scope="col">Visit Date</th>
											<th scope="col">Status</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">1</th>
											<td>Smith Doe</td>
											<td>John Grey</td>
											<td>Smith Camron</td>
											<td>24 Aug 2020</td>
											<td><span class="badge badge-success">Active</span></td>
										</tr>
										 <tr>
											<th scope="row">2</th>
											<td>Smith Doe</td>
											<td>John Grey</td>
											<td>Smith Camron</td>
											<td>24 Aug 2020</td>
											<td><span class="badge badge-success">Active</span></td>
										</tr>
										 <tr>
											<th scope="row">3</th>
											<td>Smith Doe</td>
											<td>John Grey</td>
											<td>Smith Camron</td>
											<td>24 Aug 2020</td>
											<td><span class="badge badge-success">Active</span></td>
										</tr>
										<tr>
											<th scope="row">4</th>
											<td>Smith Doe</td>
											<td>John Grey</td>
											<td>Smith Camron</td>
											<td>24 Aug 2020</td>
											<td><span class="badge badge-success">Active</span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>


				</div>
			</div>

		</div>


		<div class="col-lg-6 col-md-12">

			<div class="card mb-4">
				<div class="card-body">
					<div class="card-title">Top visitors</div>
					<div class="table-responsive">
						<table id="user_table" class="table  text-center">
							<thead>
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Number of visitors in the last one year</th>
									<th scope="col">Last visit on </th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Smith Doe</td>
									<td>100</td>
									<td>24 Aug 2020</td>											
								</tr>
								<tr>
									<td>Smith Doe</td>
									<td>100</td>
									<td>24 Aug 2020</td>											
								</tr>
								<tr>
									<td>Smith Doe</td>
									<td>100</td>
									<td>24 Aug 2020</td>											
								</tr>
								<tr>
									<td>Smith Doe</td>
									<td>100</td>
									<td>24 Aug 2020</td>											
								</tr>
								<tr>
									<td>Smith Doe</td>
									<td>100</td>
									<td>24 Aug 2020</td>											
								</tr>
								<tr>
									<td>Smith Doe</td>
									<td>100</td>
									<td>24 Aug 2020</td>											
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="card mb-4">
				<div class="card-body p-0">
					<div class="card-title border-bottom d-flex align-items-center m-0 p-3">
						<span>Visitor activity </span>
						<span class="flex-grow-1"></span>
						<span class="badge badge-pill badge-warning">Updated daily</span>
					</div>
					<div class="row px-3">
						<div class="col-md-4 border-bottom py-3">
							<span class="text-small text-muted">Invitation/Visits </span>
							<h5 class="m-0">2065</h5>
						</div>
						<div class="col-md-4 border-bottom py-3">
							<span class="text-small text-muted">New Vistors</span>
							<h5 class="m-0">465</h5>
						</div>
						<div class="col-md-4 border-bottom py-3">
							<span class="text-small text-muted">Today</span>
							<h5 class="m-0">23456</h5>
						</div>
					</div>
					<div class="row px-3">
						<div class="col-md-4 border-bottom py-3">
							<span class="text-small text-muted">This Week</span>
							<h5 class="m-0">1829</h5>
						</div>
						<div class="col-md-4 border-bottom py-3">
							<span class="text-small text-muted">This month</span>
							<h5 class="m-0">735</h5>
						</div>
						<div class="col-md-4 border-bottom py-3">
							<span class="text-small text-muted">Till Date </span>
							<h5 class="m-0">92565</h5>
						</div>
					</div>
					<div class="row px-3">
						<div class="col-md-4 border-bottom py-3">
							<span class="text-small text-muted">Yesterday Visits</span>
							<h5 class="m-0">3165</h5>
						</div>
						<div class="col-md-4 border-bottom py-3">
							<span class="text-small text-muted">Visitor activity </span>
							<h5 class="m-0">165</h5>
						</div>
						<div class="col-md-4 border-bottom py-3">
							<span class="text-small text-muted">Visitor activity </span>
							<h5 class="m-0">165</h5>
						</div>
					</div>

				</div>
			</div>

		</div>

		<!-- <div class="col-md-12">
			<div class="card mb-4">
				<div class="card-body p-0">
					<h5 class="card-title m-0 p-3">Last 20 Day Applicants</h5>
					<div id="echart3" style="height: 360px;"></div>
				</div>
			</div>
		</div> -->

	</div>